<div class="row text-capitalize">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> back to dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        edit setting
      </div>
      <div class="card-body">
        <form (submit)="onSubmit()">
          <div class="form-group" style="display: flex;justify-content: space-between;">
            <label>allow registration</label>
            <input type="checkbox" name="allowRegistration" [checked]="settings.allowRegistration"
              (change)="settings.allowRegistration = !settings.allowRegistration">
          </div>

          <div class="form-group" style="display: flex;justify-content: space-between;">
            <label>disable balance on add</label>
            <input class="" type="checkbox" name="disableBalanceOnAdd" [checked]="settings.disableBalanceOnAdd"
              (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd">
          </div>

          <div class="form-group" style="display: flex;justify-content: space-between;">
            <label>disable balance on edit</label>
            <input type="checkbox" name="disableBalanceOnEdit" [checked]="settings.disableBalanceOnEdit"
              (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit">
          </div>

          <div class="form-group mt-2">
            <label for="currency">currency</label>
            <select name="currency" class="form-control" [(ngModel)]="currency" (change)="settings.currency = currency">
              <option value="KRW">KRW</option>
              <option value="USD">USD</option>
              <option value="CAD">CAD</option>
              <option value="RM">RM</option>
            </select>
          </div>

          <input type="submit" value="Save" class="btn btn-primary w-100 mt-3">
        </form>
      </div>
    </div>
  </div>
</div>