<div class="row" *ngIf="isLogged; else notLogged">
  <div class="col-md-10">
    <app-clients></app-clients>
  </div>
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
</div>

<ng-template #notLogged>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <h2 class="text-center">
          <a routerLink="/login" class="text-decoration-none">
            Login
          </a>
        </h2>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h2 class="text-center">
          <a routerLink="/join" class="text-decoration-none">
            Join
          </a>
        </h2>
      </div>
    </div>
  </div>
</ng-template>