<div class="nav navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Balance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" (click)="isMenuClosed = !isMenuClosed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarMain" [ngClass]="{collapse: isMenuClosed}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">
            Dashboard
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="loggedInUser === undefined && showRegister">
          <a routerLink="/login" class="nav-link">
            Log in
          </a>
        </li>

        <li class="nav-item" *ngIf="loggedInUser === undefined && showRegister">
          <a routerLink="/join" class="nav-link">
            Join
          </a>
        </li>

        <li class="nav-item" *ngIf="loggedInUser !== undefined">
          <a class="nav-link">
            {{loggedInUser}}
          </a>
        </li>

        <li class="nav-item" *ngIf="loggedInUser !== undefined">
          <a routerLink="/setting" class="nav-link">
            setting
          </a>
        </li>

        <li class="nav-item" *ngIf="loggedInUser !== undefined">
          <a routerLink="/" class="nav-link" (click)="onLogout()">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>